name: Build with npm test

on: workflow_call

jobs:
  build:
    name: npm test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: npm install
      - run: npm test
      - uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: ./coverage/
      - uses: actions/upload-artifact@v5
        with:
          name: dist
          path: ./dist/
