name: Build with Quality Check
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/build-npm-test.yml
  sonarcloud:
    needs: test
    uses: ./.github/workflows/quality-sonarcloud.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  qltysh:
    needs: test
    uses: ./.github/workflows/quality-qltysh.yml
    secrets:
      QLTY_COVERAGE_TOKEN: ${{ secrets.QLTY_COVERAGE_TOKEN }}
