name: Build with Quality Check
on:
  push:
    branches:
      - '*'

jobs:
  test:
    uses: ./.github/workflows/build-npm-test.yml
  sonarcloud:
    needs: test
    uses: ./.github/workflows/quality-sonarcloud.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  # codeclimate:
  #   needs: test
  #   uses: ./.github/workflows/quality-codeclimate.yml
  #   secrets:
  #     CODE_CLIMATE_REPORT_TOKEN: ${{ secrets.CODE_CLIMATE_REPORT_TOKEN }}
  qltysh:
    needs: test
    uses: ./.github/workflows/quality-qltysh.yml
    secrets:
      QLTY_COVERAGE_TOKEN: ${{ secrets.QLTY_COVERAGE_TOKEN }}
